/*CUBE*/

.cube-container {
  margin-top: 180px;
  height: 400px;
  perspective: 2000px;
}

.cube-container .cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}

.cube-container .cube > div {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  border: 2px solid inherit;
  /*border: 2px solid rgba(255, 255, 255, 0.9);*/
  line-height: 170px;
  font-size: 90px;
  text-align: center;
  /*font-weight: bold;*/
  color: white;
}
.cube-container .front { transform: translateZ(100px) translateX(0px) rotateY(0deg) ; }
.cube-container .back { transform: translateZ(-100px) rotateY(180deg) translateX(0px); }

.cube-container .right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}

.cube-container .left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}

.cube-container .top {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
}

.cube-container .bottom {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
}

@keyframes rotate {
  from { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  to { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);  }
}

.cube-container .cube { animation: rotate 60s infinite linear; }
/*.cube-container .cube .cookie-monster  { animation: rotate 60s infinite linear; }*/
.front:hover { transform: rotateY(290deg) translateZ(130px) translateX(100px) ; }
.back:hover { transform:  translateZ(-270px) rotateY(240deg) translateX(160px); }
/*.back:hover {
  transform: roatateY(-200deg) translateZ(100px) translateX(100px);
}*/

.right:hover {
  transform: rotateY(-200deg) translateZ(100px) translateX(100px);
}

.left:hover {
  transform: rotateY(200deg) translateZ(100px) translateX(-100px);
}

.top:hover {
  transform: rotateX(-200deg) translateZ(100px) translateY(-100px)
}

.bottom:hover {
  transform: rotateX(200deg) translateZ(100px) translateY(100px);
}

.cube-container .cube > div { transition: transform 0.2s ease-in; }

.cube-container .front, .back, .top, .bottom, .left, .right  {
  background-image: url('../images/woodcrate.jpg');
  background-size: 100% 100%;
 }

 .cube-container .cookie-monster {
   background-image: url('../images/CookieMonster.png');
   background-size: 100% 100%;
 }


.cube-container .cube > div:hover {
  /*box-shadow: 5px 5px 5px 5px rgb(100, 100, 100);*/
  /*box-shadow:2px 2px 10px 10px #C9C9C9;*/
 /*-webkit-box-shadow:2px 2px 10px 10px #C9C9C9;
 -moz-box-shadow:2px 2px 10px 10px #C9C9C9;*/
}



/*PYRAMID*/

/*.pyramid-container {
  margin-top: 180px;
  height: 400px;
  perspective: 2000px;
}

.pyramid {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}

.pyramid-container .pyramid div {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  border: 2px solid inherit;
  /*border: 2px solid rgba(255, 255, 255, 0.9);*/
  /*line-height: 170px;
  font-size: 90px;
  text-align: center;*/
  /*font-weight: bold;*/
  /*color: white;
}*/
/*
.pyramid-face {
  background: blue;
}

.pyramid-base {
  background: red;
}*/*/
