/*PARALLAX*/

#no-hover {
  padding-top: 0px;
}

.parallax {
  padding: 10px 100px 100px 100px;
}

.plax-image {
  border: 1px solid black;
  height: 415px;
  background-image: url('../images/iceclimb.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
}

/*BLUR IMAGE*/

.blur-container {
  margin: 0 auto;
  padding: 10px 100px 100px 100px;
}

.blur-image {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  -webkit-webkit-transition: all 1s ease;
  -moz-webkit-transition: all 1s ease;
  -ms-webkit-transition: all 1s ease;
  -o-webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.blur-image:hover {
  -webkit-filter: blur(3px);
}


/*FOCUS IMAGE*/

.focus {
  margin: 0 auto;
  padding: 10px 100px 100px 100px;
}

.focus-image {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.focus-container:hover .focus-image{
  border-radius: 50%;
  border: 10px solid black;
}

.focus-container:hover {
}
