body {
  margin: 0;
}

h1 {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 96px;
  font-family: 'Bungee Shade', cursive;
}

h2 {
  margin: 0;
  text-align: center;
  font-weight: 300;
  padding: 25px;
  font-size: 42px;
}

h3 {
  text-align: center;
  font-weight: 100;
  font-size: 24px;
  padding-top: 50px;
}

p {
  margin: 0;
  text-align: center;
  padding: 25px;
}

pre {
  margin: 0 auto;
  padding: 10px;
  font-size: 12px;
}

/*code {
  color: #000;
  overflow-x: scroll;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  font-weight: normal;
}*/

#title {
  padding-top: 50px;
}

#brian-links {
  width: 145px;
  padding-bottom: 25px;
  margin: 0 auto;
}

#brian-links a {
  padding: 20px;
}

#tagline {
  padding: 20px;
}

a {
  text-decoration: none;
}

section {
  min-height: 200px;
  font-family: "Droid Sans", Helvetica, sans-serif;
  font-weight: 100;
}

.show-code {
  padding: 0px 100px 0px 100px;
  margin: 0 auto;
}
.contents {
  display: block;
  padding-top: 10px;
  text-align: center;
  font-size: 22px;
  color: rgb(231, 71, 32);
}

.header {
  height: 100%;
}

.orange {
  background: rgb(231, 71, 32);
  /*background: rgb(49, 56, 80);*/
  color: rgb(226, 235, 205);

}

.white {
  background: rgb(226, 235, 205);
  color: rgb(231, 71, 32);
}

.content {
  margin: auto;
  padding: 20px;
  width: 600px;
}

.content h2 {
  text-align: center;
}

.extra-padding {
  padding-top: 50px;
}

.content a:hover {
  text-decoration: underline;
}

.toggle-code {
  display: block;
  margin: 15px auto;
  margin-top: 0px;
}

.show-code { display: none; }

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
	background-color: #000;
	border-radius: 8px;
}

pre.prettyprint {
	width: 95%;
	margin: 1em auto;
	padding: 1em;
	white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}
