#no-hover {
  padding-top: 0px;
}

.parallax {
  padding: 10px 100px 100px 100px;
}

.plax-image {
  border: 1px solid black;
  height: 415px;
  background-image: url('../images/iceclimb.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
}
